<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<f:view>

	<f:loadBundle basename="resources.application" var="msg" />

	<h:head>
		<meta http-equiv="X-UA-Compatible" content="IE8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />

		<title><ui:insert name="pageTitle"></ui:insert></title>
	</h:head>

	<body>

		<ui:include src="/templates/header.xhtml" />
		<p:growl id="backerror" globalOnly="false" autoUpdate="true"
			showDetail="true" for="backerror" />
		<div class="Container99">
			<div class="ContainerIndent">
				<div class="Container100 Responsive100">
					<ui:insert name="body"></ui:insert>
					<p:growl sticky="true" id="growl" for="backError" showDetail="true"
						autoUpdate="true" globalOnly="true" widgetVar="growl" />
				</div>
				<div class="Container30 Responsive100">
					<ui:insert name="rightbody"></ui:insert>

				</div>
			</div>
		</div>
		<ui:include src="/templates/footer.xhtml" />
		<h:outputStylesheet name="fusion.css" library="css" />

		<h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
		<h:outputStylesheet name="css/animate.css" library="rio-layout" />
		<h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
		<h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
		<h:outputStylesheet name="css/perfect-scrollbar.css"
			library="rio-layout" />
		<h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
		<h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
	</body>
</f:view>

</html>