<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<div id="layout-topbar">
		<div id="logo" class="Fleft">
			<a href="#"><h:graphicImage name="images/logo.svg" styleClass="Fleft" library="rio-layout" /></a> <a id="mobile-menu-button" class="Fright ShowOnMobile ripplelink Unselectable ShadowEffect"><i
				class="icon-add186"></i></a>
		</div>

		<a class="ripplelink WhiteBlue Fright ShowOnMobile" id="show-top-menu"><i class="icon-show8"></i></a>

		<ul id="top-menu" class="ShowOnDesktop">
			<li><a class="ripplelink"><i class="icon-search100"></i> <span class="Txt">Search</span></a>
				<ul>
					<li><input type="text" placeholder="Search" /></li>
				</ul></li>
			<li><a class="ripplelink"><i class="icon-set6"></i> <span class="Txt">Tasks</span></a>
				<ul>
					<li><a href="#">23 New Tasks</a></li>
				</ul></li>
			<li><a class="ripplelink"><i class="icon-notifications1"></i> <span class="Txt">Alerts</span></a>
				<ul>
					<li><a href="#">18 Alerts</a></li>
				</ul></li>
			<li><a href="#" class="ripplelink"><i class="icon-wifi83"></i> <span class="Txt">System Settings</span></a></li>
		</ul>
	</div>
	<h:form>
		<p:growl id="messages" />
		<p:spacer width="1" height="70"/>
		<p:menubar>
			<p:submenu label="Administation" >
				<p:menuitem value="Users" action="pretty:users" />
				<p:menuitem value="Orders" action="pretty:orders" />

				<p:menuitem value="Quit" url="#" />
			</p:submenu>

			<p:submenu label="Food items" >
				<p:menuitem value="Food Categories" action="pretty:foodcategories"  />
				<p:menuitem value="Food Menu Items" action="pretty:foodmenuitems"  />
			</p:submenu>



			<p:submenu label="Help" icon="ui-icon-help">
				<p:menuitem value="Contents" url="#" />
				<p:submenu label="Search" icon="ui-icon-search">
					<p:submenu label="Text">
						<p:menuitem value="Workspace" url="#" />
					</p:submenu>
					<p:menuitem value="File" url="#" />
				</p:submenu>
			</p:submenu>

			<p:submenu label="Actions" icon="ui-icon-gear">
				<p:submenu label="Ajax" icon="ui-icon-refresh">
					<p:menuitem value="Save" actionListener="#{menuView.save}" icon="ui-icon-disk" update="messages" />
					<p:menuitem value="Update" actionListener="#{menuView.update}" icon="ui-icon-arrowrefresh-1-w" update="messages" />
				</p:submenu>
				<p:submenu label="Non-Ajax" icon="ui-icon-newwin">
					<p:menuitem value="Delete" actionListener="#{menuView.delete}" icon="ui-icon-close" update="messages" ajax="false" />
				</p:submenu>
			</p:submenu>

			<p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />

			<f:facet name="options">

				<p:inputText style="margin-right:10px" placeholder="Search" />

				<p:commandButton type="button" id="settings" icon="fa fa-cog" />
				<p:commandButton type="button" value="Logout" icon="fa fa-arrow-circle-o-right" />
				<p:menu overlay="true" trigger="settings" my="left top" at="left bottom">
					<p:submenu label="Ajax">
						<p:menuitem value="Save" update="messages" icon="ui-icon-disk" />
						<p:menuitem value="Update" update="messages" icon="ui-icon-arrowrefresh-1-w" />
					</p:submenu>
					<p:submenu label="Non-Ajax">
						<p:menuitem value="Delete" update="messages" ajax="false" icon="ui-icon-close" />
					</p:submenu>
					<p:submenu label="Navigations">
						<p:menuitem value="External" url="http://www.primefaces.org" icon="ui-icon-home" />
						<p:menuitem value="Internal" icon="ui-icon-star" />
					</p:submenu>
				</p:menu>
			</f:facet>
		</p:menubar>
	</h:form>
</body>
</html>
