<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<f:view>
	<f:loadBundle basename="resources.application" var="msg" />

	<h:head>
		<link rel="stylesheet" type="text/css"
			href="#{request.contextPath}/resources/css/fusion.css"
			media="screen, projection, print" />
		<title><ui:insert name="pageTitle"></ui:insert></title>
	</h:head>

	<body >
		<center>
			<img src="#{request.contextPath}/images/feasthub.png" height="200"
				width="220" />
			<table>
				<tr>
					<td align="left" valign="top"><ui:insert name="body"></ui:insert>
						<p:growl sticky="true" id="growl" for="backError"
							showDetail="true" autoUpdate="true" globalOnly="true"
							widgetVar="growl" /></td>
				</tr>
			</table>
		</center>
	</body>
</f:view>

</html>