<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Title</ui:define>
	<ui:define name="pageHeader">Header</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">
			<div class="Card ShadowEffect ">
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<h2 class="BigTopic">Search Panel</h2>
						<div class="ui-fluid">
							<p:panelGrid columns="6" style="width:100%"
								columnClasses="ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10"
								styleClass="ui-panelgrid-blank">
								<p:outputLabel value="Date" />
								<p:calendar value="#{orderController.orderDate}"
									pattern="dd-MM-yyyy">
									<p:ajax update="@this" event="dateSelect" />
								</p:calendar>
								<p:outputLabel for="orderStatus" value="Order Status" />

								<p:selectCheckboxMenu id="orderStatus"
									value="#{orderController.orderStatusIn}" label="Order Statuses"
									filter="true" filterMatchMode="startsWith"
									panelStyle="width:250px">
									<f:selectItems value="#{orderController.listStatus()}"
										var="item" itemValue="#{item.name()}"
										itemLabel="#{item.value}" />
									<p:ajax update="@this" event="change" />
								</p:selectCheckboxMenu>
							</p:panelGrid>


							<p:outputPanel autoUpdate="true">
								<div style="float: right">
									<p:commandButton value="Search" icon="fa fa-search"
										update="orders" process="@this"
										action="#{orderController.performSearch}"></p:commandButton>
								</div>
							</p:outputPanel>

						</div>
					</div>
				</div>
			</div>
			<br />
			<p:dataTable filterDelay="1" id="orders" var="order"
				widgetVar="orders" value="#{orderController.recordPage}"
				rowKey="#{order.id}" emptyMessage="#{msg.nodatafound}">
				<f:facet name="header">
					<div class="datatable-header-left">
						<h:outputText value="Orders" style="font-weight:bold" />

					</div>
					<div class="datatable-header-right">
						<h:outputText value="Search all fields:"  style="font-weight:bold" />
						<p:inputText id="globalFilter" onkeyup="PF('orders').filter()"
							style="width:150px" placeholder="Enter keyword" />
						<p:spacer height="20" width="1"></p:spacer>
					</div>
					<br />
				</f:facet>
				<p:column headerText="Order Id" sortBy="#{order.orderId}"
					filterStyle="display:none" filterBy="#{order.orderId}"
					filterMatchMode="contains">
					<a href="#{request.contextPath}/vieworder/#{order.id}" >#{order.orderId}</a>
					
				</p:column>
				<p:column headerText="Purchage Mode"
					sortBy="#{order.paymentMode.value}" filterStyle="display:none"
					filterBy="#{order.paymentMode.value}" filterMatchMode="contains">
					<h:outputText value="#{order.paymentMode.value}" />
				</p:column>
				<p:column headerText="Order Amount">
					<h:outputText value="#{order.totalAmount}" />
				</p:column>
				<p:column headerText="Order Status" filterStyle="display:none"
					sortBy="#{order.orderStatus.value}"
					filterBy="#{order.orderStatus.value}" filterMatchMode="contains">

					<h:outputText value="#{order.orderStatus.value}" />
				</p:column>
				<p:column headerText="Action">
					<p:commandButton value="Being Prepared" update="orders"
						process="@this" icon="fa fa-mail-forward"
						rendered="#{order.orderStatus == 'CONFIRMED_BY_COMPANY'}"
						action="#{orderController.updateStatus(order, 'BEING_PREPARED')}" />
					<p:commandButton value="Packing In Progress" update="orders"
						process="@this" icon="fa fa-mail-forward"
						rendered="#{order.orderStatus == 'BEING_PREPARED'}"
						action="#{orderController.updateStatus(order, 'PACKING_IN_PROGRESS')}" />
					<p:commandButton value="Out For Delivery" update="orders"
						process="@this"
						rendered="#{order.orderStatus == 'PACKING_IN_PROGRESS'}"
						icon="fa fa-mail-forward"
						action="#{orderController.updateStatus(order, 'OUT_FOR_DELIVERY')}" />
					<p:commandButton value="Delivered" update="orders" process="@this"
						rendered="#{order.orderStatus == 'OUT_FOR_DELIVERY'}"
						icon="fa fa-mail-forward"
						action="#{orderController.updateStatus(order, 'DELIVERED')}" />
					<p:commandButton value="Delivered To Neighbour" update="orders"
						process="@this"
						rendered="#{order.orderStatus == 'OUT_FOR_DELIVERY'}"
						icon="fa fa-mail-forward"
						action="#{orderController.updateStatus(order, 'DELIVERED_TO_NEIGHBOUR')}" />
					<p:commandButton value="Completed" update="orders" process="@this"
						rendered="#{order.orderStatus == 'DELIVERED' or order.orderStatus == 'DELIVERED_TO_NEIGHBOUR'}"
						icon="fa fa-mail-forward"
						action="#{orderController.updateStatus(order, 'COMPLETED')}" />
					<h:outputText value="Completed"
						rendered="#{order.orderStatus == 'COMPLETED'}" />

				</p:column>

			</p:dataTable>
		</form>
	</ui:define>
</ui:composition>

</html>