<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">Title</ui:define>
	<ui:define name="pageHeader">Header</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">

			<div class="Container100">
				<div class="Container100 Responsive100">
					<div class="Container40 Responsive50">
						<div class="ContainerIndent" >
							<div class="Card ShadowEffect HeiAutoOnMobile" style="height:200px !important">
								<h2 class="CardTopic">
									<i class="fa fa-info Fs25 Fleft MarRight10"></i> ORDER INFO

								</h2>
								<div class="SeparatorFull"></div>
								<p:panelGrid columns="2" style="width:100%"
									columnClasses="ui-grid-col-2,ui-grid-col-10"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel value="Order Id" />
									<h:outputText value="#{orderController.viewOrder.orderId}" />

									<p:outputLabel value="Order Status" />
									<h:outputText
										value="#{orderController.viewOrder.orderStatus.value}" />

									<p:outputLabel value="Payment Status" />
									<h:outputText
										value="#{orderController.viewOrder.paymentStatus.value}" />

									<p:outputLabel value="Payment Mode" />
									<h:outputText
										value="#{orderController.viewOrder.paymentMode.value}" />

									<p:outputLabel value="Order Created on" />
									<h:outputText value="#{orderController.viewOrder.orderDate}">
										<f:convertDateTime pattern="dd-MM-yyyy" timeZone="IST" />
									</h:outputText>

								</p:panelGrid>
							</div>
						</div>
					</div>


					<div class="Container30 Responsive30">
						<div class="Container100 Responsive50">
							<div class="ContainerIndent">
								<div class="Card ShadowEffect HeiAutoOnMobile" style="height:200px !important">
									<h2 class="CardTopic">
										<i class="fa fa-street-view Fs25 Fleft MarRight10"></i>
										DELIVERY DETAILS

									</h2>
									<div class="SeparatorFull"></div>

									<div class="Wid100">
										<div class="ContainerIndent Fs16 BoldGray">
											<p:outputLabel
												value="Address (#{orderController.viewOrder.deliveryAddressId.addressType.value})" />
											<br /> <span class="Gray Fs14">#{orderController.viewOrder.deliveryAddressId.name}<br />
												#{orderController.viewOrder.deliveryAddressId.address},
												#{orderController.viewOrder.deliveryAddressId.landmark},<br />
												#{orderController.viewOrder.deliveryAddressId.city},
												#{orderController.viewOrder.deliveryAddressId.stateCode},
												#{orderController.viewOrder.deliveryAddressId.pincode}
											</span>
										</div>


									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="Container30 Responsive30" >
						<div class="Container100 Responsive50" >
							<div class="ContainerIndent" >
								<div class="Card ShadowEffect HeiAutoOnMobile" style="height:200px !important">
									<h2 class="CardTopic">
										<i class="fa fa-street-view Fs25 Fleft MarRight10"></i> ORDER
										PROCESSING

									</h2>
									<div class="SeparatorFull"></div>

									<center>
										<p:commandButton value="Being Prepared" update="@form"
											process="@this" icon="fa fa-mail-forward"
											rendered="#{orderController.viewOrder.orderStatus == 'CONFIRMED_BY_COMPANY'}"
											action="#{orderController.updateStatus(orderController.viewOrder, 'BEING_PREPARED')}" />
										<p:commandButton value="Packing In Progress" update="@form"
											process="@this" icon="fa fa-mail-forward"
											rendered="#{orderController.viewOrder.orderStatus == 'BEING_PREPARED'}"
											action="#{orderController.updateStatus(orderController.viewOrder, 'PACKING_IN_PROGRESS')}" />
										<p:commandButton value="Out For Delivery" update="@form"
											process="@this"
											rendered="#{orderController.viewOrder.orderStatus == 'PACKING_IN_PROGRESS'}"
											icon="fa fa-mail-forward"
											action="#{orderController.updateStatus(orderController.viewOrder, 'OUT_FOR_DELIVERY')}" />
										<p:commandButton value="Delivered" update="@form"
											process="@this"
											rendered="#{orderController.viewOrder.orderStatus == 'OUT_FOR_DELIVERY'}"
											icon="fa fa-mail-forward"
											action="#{orderController.updateStatus(orderController.viewOrder, 'DELIVERED')}" />
										<p:commandButton value="Delivered To Neighbour"
											update="@form" process="@this"
											rendered="#{orderController.viewOrder.orderStatus == 'OUT_FOR_DELIVERY'}"
											icon="fa fa-mail-forward"
											action="#{orderController.updateStatus(orderController.viewOrder, 'DELIVERED_TO_NEIGHBOUR')}" />
										<p:commandButton value="Completed" update="@form"
											process="@this"
											rendered="#{orderController.viewOrder.orderStatus == 'DELIVERED' or orderController.viewOrder.orderStatus == 'DELIVERED_TO_NEIGHBOUR'}"
											icon="fa fa-mail-forward"
											action="#{orderController.updateStatus(orderController.viewOrder, 'COMPLETED')}" />
										<h:outputText value="Completed"
											rendered="#{orderController.viewOrder.orderStatus == 'COMPLETED'}" />

									</center>

								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
							<h2 class="CardTopic">
								<i class="fa fa-list-ul Fs25 Fleft MarRight10"></i> ORDER ITEMS

							</h2>
							<div class="SeparatorFull"></div>
							<div style="background-color: #ABDD83">
								<p:panelGrid columns="7" style="width:100%"
									columnClasses="ui-grid-col-250,ui-grid-col-10,ui-grid-col-10,ui-grid-col-50,ui-grid-col-50,ui-grid-col-50,ui-grid-col-50"
									styleClass="ui-panelgrid-blank">
									<h:outputFormat value="Item Details" />
									<h:outputFormat value="" />
									<h:outputFormat value="" />
									<h:outputFormat value="Quantity" style="float:right" />
									<h:outputFormat value="Price" style="float:right" />
									<h:outputFormat value="Taxes" style="float:right" />
									<h:outputFormat value="Final Price" style="float:right" />
								</p:panelGrid>
							</div>
							<p:dataGrid value="#{orderController.viewOrder.orderEvents}"
								var="event" columns="1" styleClass="ui-panelgrid-blank"
								rowIndexVar="vs">
								<p:outputLabel
									value="#{vs+1}. #{event.eventDetails.eventCuisine.foodMenuItem.foodName}"
									style="font-weight:bold !important" />
								<div class="SeparatorHalf"></div>
								<p:panelGrid columns="7" style="width:100%;align:right"
									columnClasses="ui-grid-col-10,ui-grid-col-10,ui-grid-col-10,ui-grid-col-50,ui-grid-col-50,ui-grid-col-50,ui-grid-col-50"
									styleClass="ui-panelgrid-blank">
									<img
										src="#{event.eventDetails.eventCuisine.foodMenuItem.image1Url}"
										alt="#{event.eventDetails.eventCuisine.foodMenuItem.foodName}"
										height="100" width="150" />
									<h:outputText
										value="#{event.eventDetails.eventCuisine.foodMenuItem.foodShortDescription}" />
									<h:outputText
										value="#{event.eventDetails.eventCuisine.foodMenuItem.foodLongDescription}" />
									<h:outputText value="#{event.orderedQuantity}"
										style="float:right" />
									<h:outputText value="#{event.eventDetails.offeredPrice}"
										style="float:right">
										<f:convertNumber currencySymbol="₹" type="currency" />
									</h:outputText>
									<h:outputText value="#{event.eventDetails.addTaxes}"
										style="float:right">
										<f:convertNumber currencySymbol="₹" type="currency" />
									</h:outputText>
									<h:outputText
										value="#{event.eventDetails.finalOfferedPrice * event.orderedQuantity}"
										style="float:right">
										<f:convertNumber currencySymbol="₹" type="currency" />
									</h:outputText>


								</p:panelGrid>
								<f:facet name="footer">
									<div class="Container30 Responsive30">
										<div class="ContainerIndent">
											<h:panelGrid columns="3"
												columnClasses="right-align,right-align,right-align"
												style="width:300px !important">
												<h:outputText value="Total Amount" style="float:right" />
												<h:outputText value=":" />
												<h:outputText
													value="#{orderController.viewOrder.totalAmount-orderController.viewOrder.totalTax}"
													style="float:right">
													<f:convertNumber currencySymbol="₹" type="currency" />
												</h:outputText>
												<h:outputText value="Total Taxes" style="float:right" />
												<h:outputText value=":" />
												<h:outputText value="#{orderController.viewOrder.totalTax}"
													style="float:right">
													<f:convertNumber currencySymbol="₹" type="currency" />
												</h:outputText>
												<h:outputText value="Total Amount (Including Taxes)"
													style="float:right" />
												<h:outputText value=":" />
												<h:outputText
													value="#{orderController.viewOrder.totalAmount}"
													style="float:right">
													<f:convertNumber currencySymbol="₹" type="currency" />
												</h:outputText>

											</h:panelGrid>
										</div>
									</div>
								</f:facet>
							</p:dataGrid>
						</div>
					</div>
				</div>
				<div class="Container100 Responsive100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect HeiAutoOnMobile">
							<h2 class="CardTopic">
								<i class="icon icon-schedule2 Fs25 Fleft MarRight10"></i>
								DELIVERY SCHEDULE
							</h2>
							<div class="SeparatorFull"></div>
							<p:scrollPanel mode="native" style="height:200px">
								<p:dataGrid value="#{orderController.viewOrder.orderDelivery}"
									columns="#{orderController.viewOrder.orderDelivery.size()}"
									var="del">
									<p:outputPanel rendered="#{currentDate gt del.deliveryDate}">
										<div class="Container40"
											style="width: 300px !important; margin: 10px 10px 10px 10px; padding: 10px; border: 1px solid rgb(216, 215, 215) !important">
											<div class="SoftGreenBack DispInlBlock Fleft"
												style="margin: 1px 10px 1px 1px !important; padding: 20px 10px;">
												<i class="fa fa-bell-slash Green Fs100"></i>
											</div>
											<p>
												<span class="Gray FontRobotoLight "><h:outputText
														value="#{del.deliveryDate}">
														<f:convertDateTime pattern="dd-MM-yyyy" timeZone="IST" />
													</h:outputText></span><br /> <span class="Gray FontRobotoLight "><h:outputText
														value="#{orderController.getDeliverySlot(del.deliverySlotsId)}">

													</h:outputText></span><br /> <span class="Orange  FontRobotoBold"><h:outputText
														value="#{orderController.getDeliverySlotsTime(del.deliverySlotsTimeId)}">

													</h:outputText></span><br /> <span class="Orange  FontRobotoBold"><h:outputText
														value="#{del.deliveryStatus.value}" /></span><br /> <span
													class="Orange  FontRobotoBold"><h:outputText
														value="#{del.deliveryBy}" /></span>
											</p>
										</div>
									</p:outputPanel>
									<p:outputPanel rendered="#{currentDate le del.deliveryDate}">
										<div class="Container40"
											style="width: 250px !important; margin: 10px 10px 10px 10px; padding: 10px; border: 1px solid rgb(216, 215, 215) !important">
											<div class="SoftOrangeBack DispInlBlock Fleft"
												style="margin: 1px 10px 1px 1px !important; padding: 20px 10px;">
												<i class="fa fa-bell Orange Fs100"></i>
											</div>
											<p>
												<span class="Gray FontRobotoLight "><h:outputText
														value="#{del.deliveryDate}">
														<f:convertDateTime pattern="dd-MM-yyyy" timeZone="IST" />
													</h:outputText></span><br /> <span class="Gray FontRobotoLight "><h:outputText
														value="#{orderController.getDeliverySlot(del.deliverySlotsId)}">

													</h:outputText></span><br /> <span class="Orange  FontRobotoBold"><h:outputText
														value="#{orderController.getDeliverySlotsTime(del.deliverySlotsTimeId)}">

													</h:outputText></span><br /> <span class="Orange  FontRobotoBold"><h:outputText
														value="#{del.deliveryStatus.value}" /></span><br /> <span
													class="Orange  FontRobotoBold"><h:outputText
														value="#{del.deliveryBy}" /></span>
											</p>
										</div>
									</p:outputPanel>
								</p:dataGrid>
							</p:scrollPanel>
						</div>

					</div>
				</div>

			</div>

		</form>
	</ui:define>
</ui:composition>

</html>