@CHARSET "UTF-8";

.ui-panel .ui-panel-titlebar {
    padding: 0.5em 1em 0.3em;
    background: none !important;
    border: 0px !important;
    margin-left: -5px !important;
}

.ui-button{
	adding: 0px 0px 0px 0px !important;
}






.ui-widget-header{
	    font-size: 14px !important;
}

.ui-widget-content {
    color: BLACK;
   
   
}

.ui-commandlink{
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 10px !important; 
}

.ui-widget {
    font-size: 12px !important;
    color: #4F4F4F !important;
}

.search-clear {
    padding: .2em .1em .2em .5em;
}

.ui-grid-col-2 {
    width: 170px !important;
}

.ui-grid-col-10 {
    width: 250px !important;
}

.ui-grid-col-250 {
	font-size: 16px !important;
	font-weight:bold;
	vertical-align:top !important;
	
    width: 250px !important;
}


.ui-grid-col-50 {
	font-size: 16px !important;
	font-weight:bold;
	vertical-align:top !important;
	width: 100px !important;
}


.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background: none !important;
    color: #cd0a0a !important;
}

.ui-outputlabel.ui-state-error {
    border: 0 none !important;
}

.ui-messages-error, .ui-message-error {
    color: #b94a48;
    border-color: #eed3d7;
}


.ui-outputlabel-rfi {
	color: red !important;
	font-weight: bold !important;
}



.ui-wizard-step-title {
    font-size: 18px;
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
    width: 200px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon {
    position: absolute;
    top: 10px;
    right: 30px !important;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    position: relative;
    margin: 0;
    padding: 0.4em;
    width: 240px !important;
    display: inline-block;
}
.ui-datatable table tbody td {
    font-family: 'roboto_condensedregular';
    padding: 2px 2px !important;
}

.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow {
    font-size: 16px !important;
    padding: 5px 5px !important;
}



.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-pages .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-rpp-options {
    font-size: 14px !important;
    padding: 2px 3px !important;
    
}

.ui-outputlabel{
    font-size: 14px !important;
    /*font-weight: bold !important;*/
}

.datatable-header-left{
	float:left !important;
	font-weight: bold !imprtant;
	font-size: 16px !important;
}

.datatable-header-right{
	float:right !important;
	font-weight: bold !imprtant;
	font-size: 12px !important;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    padding: 2px 10px !important;
}

.ui-datagrid{
    border: solid 0px #e0e0e0 !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #ffffff;
    color: #778d9b;
    font-family: 'roboto_condensedlight';
}

.ui-datagrid-footer {
    height: auto !important;
    background-color: RGBA(252, 252, 252, 0) !important;
    margin: 0px !important;
    padding: 10px 10px !important;
    border-top: solid 1px #E8EDF2 !important;
    font-size: 14px;
    color: #0A0A0B !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    -moz-border-top-left-radius: 0px !important;
    -moz-border-top-right-radius: 0px !important;
    float: right !important;
}

.right-align{
	align: right !important;
	
}