<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">FeastHub : Food Catgories</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">
			<p:panel>
				<div style="float: right !important">
					<p:commandButton value="New Category" icon="fa fa-plus"
						action="pretty:createfoodcategory" />
					<p:spacer width="10" height="10" />
					<p:commandButton value="Edit user" icon="fa fa-edit" />
					<p:spacer width="10" height="10" />
					<p:commandButton value="Remove User" icon="fa fa-remove">
						<p:confirm header="#{msg.confirmation}"
							message="#{msg.deleteconfirm}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<div style="float: right !important">
							<p:commandButton value="Yes" type="button"
								styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="fa fa-remove" />
						</div>
					</p:confirmDialog>
				</div>
				<br />
				<br />
				<p:dataTable filterDelay="1" id="category" var="category"
					widgetVar="category"
					value="#{foodCategoryController.listCategories()}" rows="10"
					paginator="true" rowKey="#{userList.id}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
					emptyMessage="#{msg.nodatafound}">
					<f:facet name="header">
						<p:outputPanel>
							<h:outputText value="#{msg.searchmessage}" />
							<p:inputText id="globalFilter" title="#{msg.filtermsg}"
								onchange="PF('category').filter();" style="width:150px"
								placeholder="#{msg.filtermsg}" />
							<p:commandButton value="Clear" icon="fa fa-eraser"
								styleClass="search-clear" immediate="true"
								onclick="javascript:removeFilter('#Form\\:category\\:globalFilter','category');">
							</p:commandButton>
						</p:outputPanel>
					</f:facet>
					<p:column headerText="Category Code"
						style="width:120px  ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryCode}"
						filterBy="#{category.foodCategoryCode}" filterMatchMode="contains">
						<a href="#{request.contextPath}/updatefoodcategory/#{category.id}" >#{category.foodCategoryCode}</a>
						
					</p:column>
					<p:column headerText="Category Name"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryName}"
						filterBy="#{category.foodCategoryName}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryName}" />
					</p:column>
					<p:column headerText="Category Description"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryDesc}"
						filterBy="#{category.foodCategoryDesc}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryDesc}" />
					</p:column>
					<p:column headerText="Category Description"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryDesc}"
						filterBy="#{category.foodCategoryDesc}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryDesc}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<br/>
			<br/>
			<br/>
		</form>

	</ui:define>
</ui:composition>

</html>