<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">#{msg.newuser}</ui:define>
	<ui:define name="body">
		<h:form id="Form">
			<p:panel style="width:100%" header="Food Category">
				<div class="ui-fluid">
					<p:panelGrid columns="6" style="width:100%"
						columnClasses="ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10"
						styleClass="ui-panelgrid-blank">
						<p:outputLabel for="foodcategorykey"
							value="#{msg.foodcategorykey}" />
						<p:inputText id="foodcategorykey"
							value="#{foodCategoryController.foodCategory.keyId}"
							required="true" requiredMessage="#{msg['foodcategorykey.req']}"
							placeholder="#{msg.foodcategorykey}">
							<p:ajax update="@this" event="change" />
						</p:inputText>

						<p:outputLabel for="foodcategorycode"
							value="#{msg.foodcategorycode}" />
						<p:inputText id="foodcategorycode" required="true"
							value="#{foodCategoryController.foodCategory.foodCategoryCode}"
							requiredMessage="#{msg['foodcategorycode.req']}"
							placeholder="#{msg.foodcategorycode}">
							<p:ajax update="@this" event="change" />
						</p:inputText>
						<p:outputLabel for="foodcategoryname"
							value="#{msg.foodcategoryname}" />
						<p:inputText id="foodcategoryname" required="true"
							value="#{foodCategoryController.foodCategory.foodCategoryName}"
							requiredMessage="#{msg['foodcategoryname.req']}"
							placeholder="#{msg.foodcategoryname}">
							<p:ajax update="@this" event="change" />
						</p:inputText>
						<p:outputLabel for="foodcategorydesc"
							value="#{msg.foodcategorydesc}" />
						<p:inputText id="foodcategorydesc"
							value="#{foodCategoryController.foodCategory.foodCategoryDesc}"
							required="true" requiredMessage="#{msg['foodcategorydesc.req']}"
							placeholder="#{msg.foodcategorydesc}">
							<p:ajax update="@this" event="change" />
						</p:inputText>
						<p:outputLabel for="parentcategory" value="#{msg.parentcategory}" />


						<p:selectOneMenu id="parentcategory"
							value="#{foodCategoryController.foodCategory.parentId}"
							filterMatchMode="startsWith" filter="true"
							disabled="#{foodCategoryController.foodCategory.parentNodeFlag}"
							requiredMessage="#{msg['parentcategory.req']}"
							placeholder="#{msg.parentcategory}">
							<f:selectItem itemLabel="#{msg.select}" />
							<f:selectItems
								value="#{foodCategoryController.listParentCategory()}"
								var="category" itemLabel="#{category.foodCategoryName}"
								itemValue="#{category.keyId}" />
							<p:ajax update="@this" event="change" />
						</p:selectOneMenu>
						<p:outputLabel for="parentnode" value="#{msg.parentnode}" />
						<p:selectBooleanCheckbox id="parentnode"
							value="#{foodCategoryController.foodCategory.parentNodeFlag}"
							requiredMessage="#{msg['parentnode.req']}"
							placeholder="#{msg.parentnode}">
							<p:ajax update="@this parentcategory" event="change" />
						</p:selectBooleanCheckbox>
						<p:outputLabel for="flattags" value="#{msg.flattags}" />
						<p:selectBooleanCheckbox id="flattags"
							value="#{foodCategoryController.foodCategory.flatTagsFlag}"
							requiredMessage="#{msg['flattags.req']}"
							placeholder="#{msg.flattags}">
							<p:ajax update="@this" event="change" />
						</p:selectBooleanCheckbox>

					</p:panelGrid>
				</div>
				<p:dataTable filterDelay="1" id="category" var="category"
					rendered="#{foodCategoryController.foodCategory.parentNodeFlag}"
					widgetVar="category"
					value="#{foodCategoryController.listCategories()}" rows="10"
					paginator="true" rowKey="#{userList.id}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
					emptyMessage="#{msg.nodatafound}">
					<f:facet name="header">
						<p:outputPanel>
							<h:outputText value="#{msg.searchmessage}" />
							<p:inputText id="globalFilter" title="#{msg.filtermsg}"
								onchange="PF('category').filter();" style="width:150px"
								placeholder="#{msg.filtermsg}" />
							<p:commandButton value="Clear" icon="fa fa-eraser"
								styleClass="search-clear" immediate="true"
								onclick="javascript:removeFilter('#Form\\:category\\:globalFilter','category');">
							</p:commandButton>
						</p:outputPanel>
					</f:facet>
					<p:column headerText="Category Code"
						style="width:120px  ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryCode}"
						filterBy="#{category.foodCategoryCode}" filterMatchMode="contains">
						<a href="#{request.contextPath}/updatefoodcategory/#{category.id}">#{category.foodCategoryCode}</a>

					</p:column>
					<p:column headerText="Category Name"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryName}"
						filterBy="#{category.foodCategoryName}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryName}" />
					</p:column>
					<p:column headerText="Category Description"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryDesc}"
						filterBy="#{category.foodCategoryDesc}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryDesc}" />
					</p:column>
					<p:column headerText="Category Description"
						style="width:120px ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{category.foodCategoryDesc}"
						filterBy="#{category.foodCategoryDesc}" filterMatchMode="contains">
						<h:outputText value="#{category.foodCategoryDesc}" />
					</p:column>
				</p:dataTable>
				<div style="float: right">
					<p:commandButton value="Save" update="@form" process="@form"
						icon="fa fa-save" action="#{foodCategoryController.performSave}" />
					<p:spacer width="10" />
					<p:commandButton value="Clear" icon="fa fa-eraser">
						<p:resetInput target="Form"></p:resetInput>
					</p:commandButton>
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>