<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">FeastHub : Food Menu Items</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">
			<p:panel>

				<br />
				<br />
				<p:dataTable filterDelay="1" id="items" var="item" widgetVar="items"
					value="#{foodMenuItemController.listFoodMenuItems()}"
					rowKey="#{userList.id}" emptyMessage="#{msg.nodatafound}">
					<f:facet name="header">
						<div class="datatable-header-left">
							<h:outputText value="List of Food Menu Items"
								style="font-weight:bold" />

						</div>
						<div class="datatable-header-right">
							<h:outputText value="Search all fields:" style="font-weight:bold" />
							<p:inputText id="globalFilter" onkeyup="PF('items').filter()"
								style="width:150px" placeholder="Enter keyword" />
							<p:spacer height="20" width="1"></p:spacer>
						</div>
						<br/>
					</f:facet>
					<p:column headerText=""
						style="width:120px  ; text-align:left;height:30px;">
						<a href="#{request.contextPath}/updatefoodcategory/#{item.id}">
							<img src="#{item.image1Url}" width="150" height="100" />
						</a>
					</p:column>
					<p:column headerText="Food Name"
						style="width:120px  ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{item.foodName}"
						filterBy="#{item.foodName}" filterMatchMode="contains">
						<a href="#{request.contextPath}/updatefoodcategory/#{item.id}">#{item.foodName}</a>
					</p:column>

					<p:column headerText="Short Description"
						style="width:120px  ; text-align:left;height:30px;"
						filterStyle="display:none" sortBy="#{item.foodShortDescription}"
						filterBy="#{item.foodShortDescription}" filterMatchMode="contains">
						<h:outputText value="#{item.foodShortDescription}" />
					</p:column>
					<p:column headerText="Categories"
						
						style="width:120px  ; text-align:left;height:30px;">
						<ui:repeat var="cat" value="#{item.foodMenuCategoryMappings}">
							<h:outputText value="#{cat.foodCategory.foodCategoryDesc}," />
							<p:spacer width="5" height="1" />
						</ui:repeat>

					</p:column>


				</p:dataTable>
			</p:panel>
			<br /> <br /> <br />
		</form>

	</ui:define>
</ui:composition>

</html>