<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<f:loadBundle basename="resources.application" var="msg" />
		
	</f:facet>
	<title>Feasthub</title>
	<ui:insert name="head" />
</h:head>

<h:body styleClass="loginbodyblue">
	<form jsfc="h:form" id="Form">

		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
			<div class="Wid33 MarAuto WidAutoOnMobile">
				<div class="Card ShadowEffect">
					<div class="Wid100 OvHidden BigTopic Fs30">
						<i class="icon-users Fs40"></i> Login Panel
					</div>
					<div class="EmptyBox20"></div>
					<div class="Wid100">
						<p:inputText id="input" value="#{loginController.username}"  styleClass="Wid80 TexAlCenter Fs18"  placeholder="Username" required="true">
							<p:ajax update="@this" event="change" />
						</p:inputText>
					</div>
					<div class="EmptyBox10"></div>
					<div class="Wid100">
						<p:inputText type="password" placeholder="Password" styleClass="Wid80 TexAlCenter Fs18" value="#{loginController.password}" required="true" >
						<p:ajax update="@this" event="change" />
						</p:inputText>
						
					</div>
					<div class="EmptyBox30"></div>
					<div class="Wid100">
						<p:commandButton styleClass="Wid60 Fs18 White RaisedButton" update="@form" process="@form" action="#{loginController.performLogin}" value="#{msg.signin}"></p:commandButton>
					</div>
					<div class="EmptyBox5"></div>
					<div class="Wid100">
						<p:button value="Forgot Password ?" icon="fa fa-lock" styleClass="RedButton Wid60 Fs18 White RaisedButton" />
					</div>
					<div class="EmptyBox20"></div>
					<div class="Separator"></div>
					<div class="EmptyBox10"></div>
					<div class="Wid100">
						<p:button value="Access Request ?" icon="fa fa-key" styleClass="GreenButton Wid60 Fs18 White RaisedButton" />
					</div>
					<div class="EmptyBox20"></div>
				</div>
				<div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular WhiteBlue">
					<i class="fa fa-copyright"></i> PrimeFaces RIO Theme And Layout <br /> All rights reserved.
				</div>
			</div>
		</div>

		<h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
		<h:outputStylesheet name="css/animate.css" library="rio-layout" />
		<h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
		<h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
		<h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
		<h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
	</form>
</h:body>

</html>