<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/loginTemplate.xhtml">
	<ui:define name="pageTitle">Title</ui:define>
	<ui:define name="pageHeader"></ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">
			<p:panel header="Login">
				<p:spacer height="10" width="300" />
				<div class="ui-fluid">
					<p:panelGrid columns="2"
						columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
						styleClass="ui-panelgrid-blank">
						<p:outputLabel for="input" value="#{msg.username}" />
						<p:inputText id="input" value="#{loginController.username}" required="true">
							<p:ajax update="@this" event="change" />
						</p:inputText>

						<p:outputLabel for="area" value="#{msg.password}" />
						<p:password id="area" value="#{loginController.password}" required="true" redisplay="true">
							<p:ajax update="@this" event="change" />
						</p:password>

					</p:panelGrid>
					<p:spacer height="10" width="1" />
					<p:commandButton update="@form" process="@form"
						action="#{loginController.performLogin}"
						styleClass="green-button" value="#{msg.signin}"></p:commandButton>
				</div>
				<p:spacer height="10" width="1" />
			</p:panel>
		
		</form>
	</ui:define>
</ui:composition>

</html>