<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">FeastHub : Users</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form">
			<p:panel>
				<div style="float: right !important">
					<p:commandButton value="New User" icon="fa fa-plus" action="pretty:createuser"/>
					<p:spacer width="10" height="10" />
					<p:commandButton value="Edit user" icon="fa fa-edit" />
					<p:spacer width="10" height="10" />
					<p:commandButton value="Remove User" icon="fa fa-remove" action="#{userController.removeUser()}">
						<p:confirm header="#{msg.confirmation}"
							message="#{msg.deleteconfirm}" icon="ui-icon-alert" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<div style="float: right !important">
							<p:commandButton value="Yes" type="button"
								styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no" icon="fa fa-remove" />
						</div>
					</p:confirmDialog>
				</div>
				<br />
				<br />
				<p:dataTable filterDelay="1" id="userList" var="userList"
					widgetVar="userList" value="#{userController.listUsers()}"
					rows="10" paginator="true"
					selectionMode="single" 
					selection="#{userController.currentUser}"
					rowKey="#{userList.id}"
					paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
					emptyMessage="#{msg.nodatafound}"
					>
					<f:facet name="header">
						<p:outputPanel>
							<h:outputText value="#{msg.searchmessage}" />
							<p:inputText id="globalFilter" title="#{msg.filtermsg}"
								onchange="PF('userList').filter();" style="width:150px"
								placeholder="#{msg.filtermsg}" />
							<p:commandButton value="Clear" icon="fa fa-eraser"
								styleClass="search-clear" immediate="true"
								onclick="javascript:removeFilter('#Form\\:userList\\:globalFilter','userList');">
							</p:commandButton>
						</p:outputPanel>
					</f:facet>
					<p:column headerText="#{msg.username}"
						style="width:120px ; text-align:center;height:30px;"
						filterStyle="display:none" sortBy="#{userList.userName}"
						filterBy="#{userList.userName}" filterMatchMode="contains">
						<a href="#{request.contextPath}/updateuser/#{userList.id}" >#{userList.userName}</a>
						
					</p:column>

					<p:column headerText="#{msg.name}"
						style="width:120px ; text-align:center;height:30px;"
						filterStyle="display:none" sortBy="#{userList.name}"
						filterBy="#{userList.name}" filterMatchMode="contains">
						<h:outputText value="#{userList.name}" id="name" />
					</p:column>


					<p:column headerText="#{msg.emailid}"
						style="width:120px ; text-align:center;height:30px;"
						filterStyle="display:none" sortBy="#{userList.defaultEmailId}"
						filterBy="#{userList.defaultEmailId}" filterMatchMode="startWith">
						<h:outputText value="#{userList.defaultEmailId}"
							id="defaultEmailId" />
					</p:column>
					<p:column headerText="#{msg.mobilenumber}"
						style="width:120px ; text-align:center;height:30px;"
						filterStyle="display:none"
						sortBy="#{userList.defaultMobileNumber}"
						filterBy="#{userList.defaultMobileNumber}"
						filterMatchMode="startWith">
						<h:outputText value="#{userList.defaultMobileNumber}"
							id="defaultMobileNumber" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</form>

	</ui:define>
</ui:composition>

</html>