<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
	 -->
<ui:composition template="/templates/common.xhtml">
	<ui:define name="pageTitle">#{msg.newuser}</ui:define>
	<ui:define name="body">
		<h:form id="Form"  enctype="multipart/form-data">
			<p:panel style="width:100%">
				<p:wizard id="wizard" showNavBar="false" widgetVar="wizard"
					showStepStatus="true"
					flowListener="#{userController.onFlowListener}"
					step="#{userController.currentStep}">
					<p:tab id="step1" title="" style="border:1px !important">
						<f:facet name="title">
							<center>
								<font size="4">Step 1</font> <br /> <font size="2">#{msg.userdetails}</font>
							</center>
						</f:facet>

						<p:outputLabel>
							<br />
							<p:messages globalOnly="false" />


							<div class="ui-fluid">
								<p:messages for="userDetails" />
								<p:panelGrid columns="6" style="width:100%"
									columnClasses="ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel for="username" value="#{msg.username}" />
									<p:inputText id="username" placeholder="#{msg.username}"
										value="#{userController.currentUser.userName}"
										requiredMessage="#{msg['username.req']}">
										<p:ajax update="@this" event="change" />
									</p:inputText>

									<p:outputLabel for="companyname" value="#{msg.companyname}" />
									<p:inputText id="companyname" placeholder="#{msg.companyname}"
										value="#{userController.currentUser.companyName}">
										<p:ajax update="@this" event="change" />
									</p:inputText>
								</p:panelGrid>
								<br />
								<p:panelGrid columns="6" style="width:100%"
									columnClasses="ui-grid-col-2,ui-grid-col-2,ui-grid-col-10,ui-grid-col-10,ui-grid-col-10"
									styleClass="ui-panelgrid-blank">

									<p:outputLabel for="firstname" value="#{msg.name}" />
									<p:selectOneMenu
										value="#{userController.currentUser.salutation}">
										<f:selectItem itemLabel="Select" />
										<f:selectItems value="#{EnumConstants.userSalutation}"
											var="item" itemValue="#{item.toString()}"
											itemLabel="#{item.value}" />
										<p:ajax update="@this" event="change" />
									</p:selectOneMenu>
									<p:inputText id="firstname" required="true"
										value="#{userController.currentUser.firstName}"
										placeholder="#{msg.firstname}"
										requiredMessage="#{msg['firstname.req']}">
										<p:ajax update="@this" event="change" />
									</p:inputText>
									<p:inputText id="middlename"
										value="#{userController.currentUser.middleName}"
										placeholder="#{msg.middlename}">
										<p:ajax update="@this" event="change" />
									</p:inputText>
									<p:inputText id="lastname" required="true"
										value="#{userController.currentUser.lastName}"
										placeholder="#{msg.lastname}"
										requiredMessage="#{msg['lastname.req']}">
										<p:ajax update="@this" event="change" />
									</p:inputText>
								</p:panelGrid>

								<p:panelGrid columns="6" style="width:100%"
									columnClasses="ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10,ui-grid-col-2,ui-grid-col-10"
									styleClass="ui-panelgrid-blank">


									<p:outputLabel for="usertype" value="#{msg.usertype}" />
									<p:selectOneMenu id="usertype" required="true"
										value="#{userController.currentUser.userType}"
										requiredMessage="#{msg['usertype.req']}">
										<f:selectItem itemLabel="Select" />
										<f:selectItems value="#{EnumConstants.userType}" var="item"
											itemValue="#{item.toString()}" itemLabel="#{item.value}" />
										<p:ajax update="@this" event="change" />

									</p:selectOneMenu>

									<p:outputLabel for="email" value="#{msg.emailid}" />
									<p:inputText id="email" required="true"
										value="#{userController.currentUser.defaultEmailId}"
										requiredMessage="#{msg['emailid.req']}"
										placeholder="#{msg.emailid}">
										<p:ajax update="@this" event="change" />
									</p:inputText>

									<p:outputLabel for="mobileno" value="#{msg.mobilenumber}" />
									<p:inputText id="mobileno" required="true"
										value="#{userController.currentUser.defaultMobileNumber}"
										requiredMessage="#{msg['mobile.req']}"
										placeholder="#{msg.mobilenumber}">
										<p:ajax update="@this" event="change" />
									</p:inputText>

									<p:outputLabel for="gender" value="#{msg.gender}" />
									<p:selectOneMenu id="gender" required="true"
										value="#{userController.currentUser.gender}"
										requiredMessage="#{msg['gender.req']}">
										<f:selectItem itemLabel="Select" />
										<f:selectItem itemLabel="Male" itemValue="MALE" />
										<f:selectItem itemLabel="Female" itemValue="FEMALE" />

										<p:ajax update="@this" event="change" />
									</p:selectOneMenu>

									<p:outputLabel for="phone" value="#{msg.phone}" />
									<p:inputText id="phone" placeholder="#{msg.phone}"
										value="#{userController.currentUser.defaultLandlineNumber}">
										<p:ajax update="@this" event="change" />
									</p:inputText>

									<p:outputLabel for="dateofbirth" value="#{msg.dateofbirth}" />
									<p:calendar id="dateofbirth" placeholder="#{msg.dateofbirth}"
										value="#{userController.currentUser.dateOfBirthIncorportaion}"
										pattern="dd-MM-yyyy" required="true"
										requiredMessage="#{msg['dateofbirth.req']}">
										<p:ajax update="@this" event="dateSelect" />
									</p:calendar>

									<p:outputLabel for="mobileverified"
										value="#{msg.mobileverified}" />
									<p:selectBooleanCheckbox id="mobileverified"
										value="#{userController.currentUser.mobileVerifiedFlag}">
										<p:ajax update="@this" event="change" />
									</p:selectBooleanCheckbox>

									<p:outputLabel for="emailverified" value="#{msg.emailverified}" />
									<p:selectBooleanCheckbox id="emailverified"
										value="#{userController.currentUser.emailVerifiedFlag}">
										<p:ajax update="@this" event="change" />
									</p:selectBooleanCheckbox>

									<p:outputLabel for="subscriptionflag"
										value="#{msg.subscriptionflag}" />
									<p:selectBooleanCheckbox id="subscriptionflag"
										value="#{userController.currentUser.subscriptionFlag}">
										<p:ajax update="@this" event="change" />
									</p:selectBooleanCheckbox>

								</p:panelGrid>

							</div>
						</p:outputLabel>
					</p:tab>
					<p:tab id="step2" title="#{msg.address}">
						<f:facet name="title">
							<center>
								<font size="4">Step 2</font> <br /> <font size="2">#{msg.address}</font>
							</center>
						</f:facet>
						<p:panel>

							<br />
							<br />


							<p:dataTable filterDelay="1" id="addressList" var="addressList"
								widgetVar="addressList" value="#{userController.userAddresses}"
								rows="10" paginator="true" rowKey="#{addressList.id}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15" paginatorPosition="bottom"
								emptyMessage="#{msg.nodatafound}"
								filteredValue="#{homeController.filteraddress}">
								<f:facet name="header">
									<h:outputLabel value="Address List" />
									<div style="float: right !important">
										<p:commandButton icon="fa fa-plus Fs100 White"
											action="#{userController.launchAddressPopup}" />
										<p:spacer width="10" height="10" />
									</div>
								</f:facet>

								<p:column headerText="#{msg.addresstype}"
									style="width:120px ; text-align:center;height:30px;"
									filterStyle="display:none" sortBy="#{addressList.addressType}"
									filterBy="#{addressList.addressType}"
									filterMatchMode="contains">

									<h:outputText value="#{addressList.addressType.value}" />

								</p:column>

								<p:column headerText="#{msg.address}"
									style="width:500px ; text-align:center;height:30px;"
									filterStyle="display:none" filterMatchMode="contains">
									<h:outputText
										value="#{addressList.address},#{addressList.landmark},#{addressList.city},#{addressList.stateCode},#{addressList.countryCode},#{addressList.zipprCode}" />

								</p:column>

							</p:dataTable>

						</p:panel>
					</p:tab>
					<p:tab id="step3" title="Profile Pics">
						<f:facet name="title">
							<center>
								<font size="4">Step 3</font> <br /> <font size="2">Profile Pics</font>
							</center>
						</f:facet>
						
						 <p:graphicImage id="profilePic" value="#{userController.currentUser.profilePhoto}" />
						 <p:fileUpload fileUploadListener="#{userController.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                              multiple="true"  auto="true" sizeLimit="100000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

                              
						
					</p:tab>

				</p:wizard>

				<br />


				<p:outputPanel autoUpdate="true">

					<div style="float: right">
						<p:commandButton style="float: left" value="Back"
							icon="fa fa-chevron-left" update="wizard"
							rendered="#{userController.showPrevious}" iconPos="left"
							type="button" onclick="PF('wizard').back();" />

						<p:commandButton value="Next" icon="fa fa-chevron-right"
							update="wizard" rendered="#{userController.showNext}"
							iconPos="right" type="button" onclick="PF('wizard').next();" />
						<p:spacer width="10" rendered="#{userController.showSubmit}" />
						<p:commandButton value="Save" update="@form" process="@form"
							rendered="#{userController.showSubmit}"
							icon="fa fa-save Fs16 White"
							styleClass="ui-confirmdialog-yes GreenButton White"
							action="#{userController.saveUser}" />
						<p:spacer width="10" />
						<p:commandButton value="Clear" icon="fa fa-eraser Fs16 White"
							styleClass="ui-confirmdialog-yes RedButton White">
							<p:resetInput target="Form"></p:resetInput>
						</p:commandButton>
					</div>
				</p:outputPanel>
				<br />
				<br />
				<br />
			</p:panel>
		</h:form>
		<p:dialog header="#{msg.address}" widgetVar="address" id="address"
			modal="true" height="500">

			<h:form id="addressForm">
				<p:outputPanel id="addressForm">
					<div class="ui-fluid">
						<p:messages globalOnly="false" />
						<p:panelGrid columns="2" style="width:100%"
							columnClasses="ui-grid-col-2,ui-grid-col-10" layout="grid"
							styleClass="ui-panelgrid-blank">
							<p:outputLabel for="addresstype" value="#{msg.addresstype}" />
							<p:selectOneMenu id="addresstype" required="true"
								requiredMessage="#{msg['addresstype.req']}"
								value="#{userController.userAddress.addressType}">
								<f:selectItem itemLabel="#{msg.select}" />
								<f:selectItems value="#{EnumConstants.addressType}" var="item"
									itemValue="#{item.toString()}" itemLabel="#{item.value}" />
							</p:selectOneMenu>
							<p:outputLabel for="country" value="#{msg.country}" />

							<p:selectOneMenu id="country" required="true"
								requiredMessage="#{msg['country.req']}"
								value="#{userController.userAddress.countryCode}">
								<f:selectItems value="#{userController.countryList}"
									var="country" itemLabel="#{country.country}"
									itemValue="#{country.country}" />
							</p:selectOneMenu>

							<p:outputLabel for="state" value="#{msg.state}" />

							<p:selectOneMenu id="state" required="true"
								requiredMessage="#{msg['state.req']}"
								value="#{userController.userAddress.stateCode}">
								<f:selectItem itemLabel="#{msg.select}" />
								<f:selectItems value="#{userController.stateList}" var="state"
									itemLabel="#{state.name}" itemValue="#{state.name}" />
								<p:ajax event="change" update="city"
									listener="#{userController.onStateChange}" />
							</p:selectOneMenu>
							<p:outputLabel for="city" value="#{msg.city}" />
							<p:selectOneMenu id="city" required="true"
								requiredMessage="#{msg['city.req']}"
								value="#{userController.userAddress.city}">
								<f:selectItem itemLabel="#{msg.select}" />
								<f:selectItems value="#{userController.cityList}" var="city"
									itemLabel="#{city.city}" itemValue="#{city.city}" />

								<p:ajax event="change" update="@this" />
							</p:selectOneMenu>

							<p:outputLabel for="street" value="#{msg.street}" />
							<p:inputText id="street" required="true"
								requiredMessage="#{msg['street.req']}"
								value="#{userController.userAddress.address}">
								<p:ajax event="change" update="@this" />
							</p:inputText>

							<p:outputLabel for="landmark" value="#{msg.landmark}" />
							<p:inputText id="landmark" required="true"
								requiredMessage="#{msg['landmark.req']}"
								value="#{userController.userAddress.landmark}">
								<p:ajax event="change" update="@this" />
							</p:inputText>

							<p:outputLabel for="zipcode" value="#{msg.zipcode}" />
							<p:inputText id="zipcode" required="true"
								requiredMessage="#{msg['zipcode.req']}"
								value="#{userController.userAddress.zipprCode}">
								<p:ajax event="change" update="@this" />
							</p:inputText>




						</p:panelGrid>
					</div>
					<div style="float: right !important">
						<p:commandButton value="Save"
							styleClass="ui-confirmdialog-yes GreenButton"
							update="addressForm Form:addressList"
							action="#{userController.addAddress}" process="addressForm" />
						<p:spacer width="10" height="10" />
						<p:commandButton value="Cancel" icon="fa fa-eraser"
							onclick="PF('address').hide();" />
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

</html>